.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(233, 233, 235);
  padding: 5% 10% 10%;
  border-radius: 5px;
}

h1 {
  color: hsl(348, 91%, 62%);
}

.container__btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}
